{
  "extends": [
    "stylelint-config-twbs-bootstrap"
  ],
  "reportInvalidScopeDisables": true,
  "reportNeedlessDisables": true,
  "overrides": [
    {
      "files": ["**/*.scss"],
      "rules": {
        "color-named": null,
        "no-duplicate-selectors": null,
        "order/properties-order": null,
        "property-no-vendor-prefix": null,
        "scss/dollar-variable-pattern": null,
        "scss/selector-no-union-class-name": true
      }
    }
  ]
}
